body {
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.pic {
    width: 150px;
    height: 150px;
    margin-right: 10px;
}
.card {
    width: 400px;
    display: flex;
    padding: 20px;
    background-color: lightblue;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    color: #2b2839;
    border-bottom: 6px #d8cefe solid;
}