.container{
    border: 8px solid;
    height: 360px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.item{
    width: 68px;
    height: 68px;
    background: green;
    padding: 3px;
    margin: 2px;
    font-size: 50px;
    border: 2px solid;
}